@{
    ViewData["Title"] = "Gallery";
}
<h1>@ViewData["Title"]</h1>

<div class="container text-center">
    <h1 class="display-4">Please select the type of event you wish to view.</h1>
<div class="row justify-content-center">
  <div class="col-4">
        <div class="card" style="width: 18rem;">
        <img src="~/images/Horses Class 2/beautiful-horse-shiny-blonde-hair-akhal-teke-fb2.png" class="card-img-top" alt="Horse">
            <div class="card-body">
            <h5 class="card-title">Shows</h5>
            <p class="card-text">The latest horse shows...</p>
            <a href="Shows" class="btn btn-primary">Shows</a>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="width: 18rem;">
        <img src="~/images/Weddings Juma/norwood-wedding-bride-1800x663.jpeg" class="card-img" alt="Weddings">
            <div class="card-body">
            <h5 class="card-title">Weddings</h5>
            <p class="card-text">Wedding packages found here.</p>
            <a href="Weddings" class="btn btn-primary">Go to wedding gallery.</a>
            </div>
        </div>
    </div>
</div>
</div>
