@{
    ViewData["Title"] = "Services";
}
<div class="container-fluid text-center">
    <h1 class="display-4">Services</h1>
    <div class="col">
    <p></p>
    </div>
    <div class="col">
    <p></p>
    </div>
    <div class="col">
    <p></p>
    </div>
    <p>
    </p>
</div>
