@{
    ViewData["Title"] = "Services";
}
<div class="container-fluid text-center">
    <h1 class="display-4">Services</h1>
    <div class="row">
        <div class="Jumbotron fluid">
            <img src="~/images/JumaImages/8039c7cc-d2ce-481f-b13a-6645e280030f.JPG" width="80%" height="80%" alt="Wedding">
        </div>
    </div>
    <div class="row">
    <div class="col">
    <p></p>
    </div>
    <div class="col">
    <p></p>
    </div>
    <div class="col">
    <p></p>
    </div>
    </div>
    <p>
    </p>
</div>
